@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
   margin: 0;
   display: flex;
   flex-direction: column;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #000000;
   background-color: #f2f2f2;

}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 1200px;
   background-color: #ffffff;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
   margin-left: auto;
   margin-right: auto;
}

.navigation {
   display: flex;
   width: 1200px;
   margin: 0 auto;
   font-weight: 700;
   font-size: 20px;
}

.logo {
   display: block;
   margin-left: 70px;
}

.navigation-list {
   display: flex;
   flex-wrap: wrap;
   width: 500px;
   margin-left: 44px;
   padding: 0;
}

.navigation-user {
   max-width: 300px;
   margin-right: 70px;
   margin-left: auto;
}

.navigation-item {
   padding-right: 16px;
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   list-style: none;
}

.navigation-link,
.navigation-link-current {
   text-decoration: none;
   color: #000000;
}

.main-container {
   flex-grow: 1;
}

.main-banner {
   background-color: #7db54f;
   background-image: url("../images/background.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
}

.main-banner-image {
   margin: 0 auto;
   display: block;
   padding-top: 51px;
   padding-bottom: 82px;
}

.description-title {
   padding: 69px 290px 25px;
   margin: 0;
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

.description-text {
   padding-bottom: 69px;
   margin: 0;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #333333;
}

.advantages-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.advantages-title {
   padding: 102px 112px 30px;
   margin: 0;
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
}

.dark {
   color: #000000;
}

.advantages-description {
   padding: 30px 85px 102px;
   margin: 0;
   color: #ffffff;
   text-align: center;
}

.advantages-description-dark {
   color: #333333;
}

.advantages-item-dark {
   display: flex;
   width: 1200px;
   min-height: 385px;
   background-color: #82b3d3;
}

.advantages-item {
   width: 400px;
   min-height: 385px;
   background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-center {
   width: 400px;
   min-height: 385px;
   background-color: rgba(131, 179, 211, 0.2);
}

.title-come {
   padding-top: 64px;
   margin: 0;
}

.text-come {
   padding-bottom: 64px;
   margin: 0;
}

.service-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   min-height: 385px;
   list-style: none;
   text-align: center;
}

.service-item {
   width: 400px;
   background-color: rgba(131, 179, 211, 0.12);
}

.service-item-light {
   width: 400px;
}

.service-title {
   padding-top: 183px;
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   text-transform: uppercase;
}

.service-description {
   padding-top: 30px;
   color: #333333;
}

.hotel-search {
   margin: 0;
   padding: 0;
   height: 406px;
   text-align: center;
}

.hotel-search-title {
   padding-top: 96px;
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
}

.hotel-search-description {
   padding-top: 20px;
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}

.subscription {
   background-size: 100% auto;
   background-repeat: no-repeat;
   text-align: center;
}

.subscription-index {
   background-image: url("../images/backsubscribe.jpg");
   height: 415px;
   color: #ffffff;
}

.subscription-title {
   padding-top: 96px;
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
}

.subscription-description {
   padding-top: 20px;
   font-size: 22px;
   line-height: 26px;
   color: #ffffff;
}

.subscription-form-window {
   font-family: "PT Sans", sans-serif;
   width: 452px;
   height: 50px;
   border: 0;
   margin: 0;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   font-size: 18px;
   line-height: 24px;
}

.subscription-catalog {
   background-color: #ffffff;
   color: #000000;
}

.subscription-description-catalog {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}

.page-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 45px;
   margin-bottom: 35px;
}

.footer-social-list {
   display: flex;
   list-style: none;
   padding: 0 70px;
}

.social-link {
   padding: 10px;
}

.phone {
   font-size: 40px;
   line-height: 40px;
   color: #000000;
   text-decoration: none;
}

.about-logo {
   margin-left: 70px;
}

.breadcrumbs-link {
   color: #ffffff;
   text-decoration: none;
}

.filter {
   color: #ffffff;
   background-color: #000000;
   background-image: url(../images/backcatalog.jpg);
   background-size: 100% auto;
   background-repeat: no-repeat;
}

.inner-header-title {
   font-size: 60px;
   line-height: 78px;
   font-weight: 700;
}

.catalog-filter-title {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
}

.catalog-filter-item {
   line-height: 23px;
   list-style: none;
}

.control-input {
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 24px;
   color: #000000;
}

.select-filter-title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
}

.select-control {
   font-family: "PT Sans", sans-serif;
   font-size: 18x;
   line-height: 21px;
   color: #333333;
}

.product-card-title {
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   color: #000000;
}

.hotel {
   color: #333333;
}

.product-card {
   list-style: none;
}

.product-card-link {
   text-decoration: none;
}

.rating {
   font-size: 16px;
   line-height: 20px;
   color: #333333;
}

.pagination {
   font-size: 20px;
   line-height: 36px;
   border-radius: 4px;
   font-weight: 700;
   list-style: none;
   text-decoration: none;
}

.pagination-link-current {
   background-color: #f2f2f2;
   color: #000000;
   list-style: none;
   text-decoration: none;
}

.pagination-link {
   background-color: #82b3d3;
   color: #ffffff;
   list-style: none;
   text-decoration: none;
}

.pagination-link-none {
   background-color: #ffffff;
}

.button {
   font-family: "PT Sans", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   border-radius: 4px;
   color: #ffffff;
}

.button-want {
   padding: 8px 34px;
   font-size: 16px;
   line-height: 22px;
   background-color: #756157;
}

.button-search {
   padding: 8px 50px;
   margin-top: 54px;
   font-size: 20px;
   line-height: 36px;
   background-color: #756157;
}

.button-subscribe {
   padding: 8px 50px;
   font-size: 20px;
   border: 0;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   margin: 0;
   line-height: 36px;
   background-color: #82b3d3;
}

.button-apply {
   font-size: 16px;
   line-height: 20px;
   background-color: #82b3d3;
}

.button-reset {
   font-size: 16px;
   line-height: 20px;
   background-color: rgba(0, 0, 0, 0);
}

.button-more {
   font-size: 16px;
   line-height: 20px;
   background-color: #756157;
}

.button-favorite {
   font-size: 16px;
   line-height: 20px;
   background-color: #82b3d3;
}

.button-like {
   font-size: 16px;
   line-height: 20px;
   background-color: #7db54f;
}